<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
  <div class="header">
    <h1 class="header_title">Todo List Demo App</h1>
    <h3>If you are going through hell, go without stopping</h3>
  </div>
  <form action="/" method="post" autocomplete="off">
    <input class = "input"type="text" placeholder="Add todos..." name="todoValue", required>
    <button type="submit">Add task</button>
  </form>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Task Name</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% if(todos) { %>
        <% todos.forEach((todoValue, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= todoValue.todo %></td> 
            <td><a href=">">Status</a></td> 
            <td><a href=">">Edit</a></td> 
            <td><a href=">">Remove</a></td>
          </tr>
        <% }) %>
      <% } %>
    </tbody>
  </table>
  </div>
</body>
</html>