@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;700&display=swap');

body {
  background-color: #fff5ee;
  font-family: 'Martian Mono', monospace;
}

.header {
  text-align: left;
  padding: 20px 0;
  margin-left: 50px;
  color: black;
}

form {
  text-align: left;
  margin: 0 0 20px 50px;
}

input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  border-color: black;
  background-color: #fff;
  color: black;
  cursor: pointer;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 18px;
}

th {
  background-color: #fff5ee;
  color: black;
  padding: 10px;
  border: 5px;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.todo-value {
  font-size: 16px;
}

.header_title {
  font-weight: bold;
}

.Complete {
  border: 2px solid #158507;
  padding: 5px;
  color:#158507;
  border-radius: 5px;
}

.Todo {
  border: 2px solid #4f4d4d;
  padding: 5px;
  color: #4f4d4d;
  border-radius: 8px;
}

.todo_delete_pics {
  background-size: 20px 30px;
}