<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
  <div class=".container">
  <div class="header">
    <h1 class="header_title">Todo List Demo App</h1>
    <h2>If you are going through hell, go without stopping</h2>
  </div>
  <form action="/" method="post" autocomplete="off">
    <input type="text" placeholder="Add todos..." name="todoValue", required>
    <button type="submit">Add</button>
  </form>

  <% if(todos) { %>
    <% todos.forEach(todoValue => { %>
      <div class = "todo-container">
        <div class="todo-value"> <%= todoValue.todo %></div>
      </div>
      <%  }) %>
  <% } %>
  </div>
</body>
</html>